/*-----------Formulário-----------*/
.displayBox{
    position: absolute;
    margin-left:35%;
    margin-top:2%;
}
.textInput{
    color:rgb(254,103,0);
    font-size:20px;
}
.inputNome{
    margin-left:4%;
    height:80%;
    border-radius:5px;
    border:1px solid gainsboro
}
