/* border: 1.5px solid rgba(254,103,0,0.6);*/
.floatBox a:link {
    text-decoration:none;
    }
.floatBox a:visited {
    text-decoration:none;
}
.floatBox{
    border: 1.5px solid rgba(254,103,0,0.6);
    margin-top:20%;
    border-radius: 5px;
    width:200px;
    height: 252px;
}
.floatBox a{
    color:rgba(254,103,0,0.6);
    display:block;
    padding: 13px;
    left:10%;
}
.floatBox a:hover{
    background:rgba(254,103,0,0.6);
    color:white
}