label{
    display: block;
    font-size: 16px;
    margin-top:1%;
    margin-bottom:0%;
    font-weight: bold;
}
input{
    display: block;
    border-radius:8px;
    outline:none;
    background-color: white;
}
.imgForm{
    width:350px;
    height:112px;
    margin-top:10%;
    margin-left:6%;
}
.boxForm{
    margin-left:10%;
    margin-top:4%;
}
.inputEnviar{
    width:100px;
    height:30px;
    box-sizing: border-box;
    margin-top:3%;
    margin-left:5%;
    color:white;
    background-color:rgb(254,103,0);
    border:none;
}
.inputEnviar:hover{
    transition:1s;
    -o-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    color:rgb(254,103,0);
    background-color:white;
    border:1px solid rgb(254,103,0);
}
