/*-----------Aspectos Gerais-----------*/
body{
    overflow-y:scroll;
}
input{
    outline:none;
}
/* border: 1.5px solid rgba(254,103,0,0.6);*/
/*-----------Imagem-----------*/
.imgBoxTopoCel{
    display: none;
}
.imgBoxTopo{
    width:92%;
    height: 14%;
    margin-left:5%;
    margin-top:4%;
    margin-bottom:12%;
}
/*-----------Menu lateral-----------*/
.floatBox a:link {
    text-decoration:none;
    }
.floatBox a:visited {
    text-decoration:none;
}
.floatBox{
    border: 1.5px solid rgba(254,103,0,0.6);
    width:290px;
    height:652px;
    z-index:1;
    top:0;
    left:0;
    padding-top:20px;
    float:left;
   
}
.floatBox a{
    color:rgba(254,103,0,0.6);
    display:block;
    padding: 27px 100px;
    margin-top:5.3%;
    font-size:20px;
    position:relative;
}
.floatBox a:hover{
    background:rgba(254,103,0,0.6);
    color:white;
    
}
@media screen and (max-width:700px){
    .floatBox{
        display:none;
    }
    .imgBoxTopoCel{
        display: inline;
        width:60%;
        height:75%;
        margin-left:21%;
    }
}
/*-----------Formulário-----------*/
.displayBox{
    position: absolute;
    margin-left:35%;
    margin-top:2%;
}
.textInput{
    color:rgb(254,103,0);
    font-size:20px;
}
.inputNome{
    margin-left:4%;
    height:80%;
    border-radius:5px;
    border:1px solid gainsboro
}