table { 
    overflow-x:auto;
    width: 100%;
    border-collapse: collapse; 
    resize: both;
    margin-top:4%;
}
th{
    text-align: center;
}
td>p{
    width:60%;
    overflow-wrap: break-word;
}
.tdNoneData{
    font-weight:bold;
    font-size:1.6em;
    margin-top:2%;
}